$headerHeight: 50px;

body {

}
header, footer {
  z-index: 11;
  a, a:visited {
    text-decoration: none;
    color: $nycjw-black;
  }
}

input:focus, textarea:focus {
  outline: none!important;
  box-shadow: none!important;
}

.bg-centered {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*---------------------------*\
  Full page
\*---------------------------*/

.section {
  min-height: 100%;
  .section-wrapper {
    position: relative;
    width: 90%;
    max-width: 760px;
    margin: 0 auto;
    h1 {
      font-size: 3em;
      line-height: 1em;
      margin: 0;
      position: relative;
    }
  }
  .section-wrapper {
    padding: 8em 0 4em;
  }
}

body:not(.home) {
  .section {
    .section-wrapper {
      padding: 3rem 0;
    }
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height:100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 9;
}

#fullpage {
  //top: $headerHeight;
  opacity: 1;
  transition: opacity .3s linear;
  &.hidden {
    opacity: 0;
    .loader {
      display: flex;
    }
  }
  .section {
    //padding-top: $headerHeight;
    &.fp-auto-height {
      .section-wrapper:first-of-type {
        min-height: 100vh;
        padding-top: 4em;
      }
    }
  }
  .fullpage-wrapper {
  	width: 100%!important;
  	transform: none!important;
  }
  .fp-section {
    width: 100%!important;
  	position: absolute!important;
  	left: 0;
  	top: 0;
  	visibility: hidden;
  	opacity: 0;
  	z-index: 0;
  	transition: opacity .7s ease-in-out;
  }
  .fp-section.active {
  	visibility: visible;
  	opacity: 1;
  	z-index: 1;
  }
}


/*---------------------------*\
  Header
\*---------------------------*/

.site-header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  width: 100%;
  #header-content {
    background-color: black;
    width: 100%;
    height: $headerHeight;
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    .mobile-logo {
      width: 120px;
      svg {
        display: block;
        width: 100%;
        height: auto;
        path {
          fill: white;
        }
      }
    }
  }
  .menu-toggle {
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
    .menu-toggle-line {
      width: 100%;
      height: 2px;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
      &::before, &::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 10px;
        left: 0;
        transition: all .2s linear;
      }
      &::after {
        top: 20px;
      }
    }
  }
  .menu-overlay {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top:$headerHeight;
    left:0;
    width: 100vw;
    height: calc(100vh - #{$headerHeight});
    background-color: white;
    transition: opacity .3s linear;
    .menu-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    #header-contact-info {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .join-list, .volunteer-link {
        margin-bottom: 8px;
      }
      .social-icons {
        margin: 16px 0 0;
        display: flex;
        justify-content: center;
      }
    }
  }
  #site-navigation {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      li {
        padding: .25em 0;
        opacity: 0;
        transform: translateX(10px);
        transition: all .2s linear;
        a {
          text-transform: uppercase;
          font-size: 1em;
        }
      }
      @for $i from 1 through 10 {
        li:nth-child(#{$i}n) {
          transition-delay: #{$i * 0.1}s;
        }
      }
    }
  }
}
body.menu-active {
  .site-header {
    .menu-overlay {
      opacity: 1;
      pointer-events: auto;
    }
    #header-content .menu-toggle-line {
      background-color: transparent;
      &::before {
        transition-delay: .2s;
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
        top: 10px;
      }
    }
  }
}
.social-icon {
  width: 18px;
  height: auto;
  transition: transform .2s linear;
  &:hover {
    transform: scale(1.15);
  }
  img {
    width: 100%;
    height: auto;
  }
}

/*---------------------------*\
  Home
\*---------------------------*/

#section-home {
  .section-wrapper {
    text-align: center;
  }
}
.home-logo {
  margin: 0 auto;
  height: auto;
  width: 90%;
  svg {
    height: auto;
    width: 100%;
  }
}
.home-subtitle {
  font-family: $raleway;
  font-weight: 300;
  font-size: 1.3em;
  text-align: center;
  opacity: 0;
  transition: opacity .2s linear;
  //text-transform: uppercase;
}

/*---------------------------*\
  About
\*---------------------------*/

.fp-controlArrow {
  width: auto!important;
  height: auto!important;
  font-family: $bella;
  font-size: 1.4em;
  border: none!important;
  position: relative!important;
  top: auto!important;
  &.fp-next {
    &:after {
      content: ' >';
    }
  }
  &.fb-prev {
    &:before {
      content: '<';
    }
  }
}
.testimonials {
  position: relative;
  &::before {
    content:'';
    background-image: url('../images/quote.png');
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    opacity: .1;
    background-size: contain;
    transform: translate(-50%, -10%);
  }
  .testimonial {
    font-size: .9em;
    .quote p{
      font-weight: 500;
      font-style: italic;
      margin-bottom: 10px;
    }
  }
  .testimonial-arrows {
    position: absolute;
    bottom: 1em;
    right: 1.5em;
    display: flex;
    .slick-arrow {
      cursor: pointer;
      transition: all .2s linear;
      opacity: .8;
      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }
    }
    i {
      border: solid rgba(0,0,0,.3);
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 5px;
      width: 10px;
      height: 10px;
      margin: 0 5px;
    }
    .testimonial-arrow-right i{
      transform: rotate(-45deg);
    }
    .testimonial-arrow-left i{
      transform: rotate(135deg);
    }
  }
}

.next-page-down {
  text-align: center;
  .next-page-button-container {
    display: inline-block;
    .next-page-button {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }
  }
  span {
    font-size: 1.3em;
    font-family: $bella;
    position: relative;
  }
  .next-page-arrow{
    margin: 0 auto;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 8px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  }
}

/*---------------------------*\
  Team
\*---------------------------*/

#team-container {
  //padding-bottom: 4em;
  flex-wrap: wrap;
}
#team-index {
  column-count: 2;
  column-gap: 30px;
  margin-bottom: 6rem;
  div {
    font-weight: 500;
    margin-top: 6px;
    font-size: 18px;
    display: inline-block;
    clear:both;
    width: 100%;
  }
  span {
    position: relative;
    padding: 2px 5px 3px 5px;
  }
  a {
    span {
      padding-left: 0;
    }
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    padding-left: 5px;
    transition: all .15s linear;
    &:hover span {
      @include blackbackground();
      padding: 3px 5px 2px;
    }
    &:hover {
      padding: 0;
      .member-title {
        padding-left: 5px;
      }
    }
    .member-title {
      font-size: 10px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-family: $raleway;
      margin: 0;
    }
  }
}
.team-member-container {
  position: relative;
  width: 100%;
  margin-bottom: 2em;
  &.more-info {
    &:hover {
      .member-image-container {
        .more-info-cover {
          transform: translateY(0);
        }
      }
    }
    .member-image-container {
      position: relative;
      .more-info-cover {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        font-family: monospace;
        transition: transform 0s linear;
        transform: translateY(100%);
        span {
          position: absolute;
          bottom: 30px;
          right: 30px;
          width: 50px;
          height: 50px;
          background-color: rgba(255,255,255,1);
          border-radius: 50%;
          &::before {
            content: '';
            width: 60%;
            height: 1px;
            background-color: black;
            position: absolute;
            top: calc(50% - 1px);
            left: 20%;
          }
          &::after {
            content:'';
            height: 60%;
            width: 1px;
            background-color: black;
            position: absolute;
            left: calc(50% - 1px);
            top: 20%;
          }
          // &::after {
          //   content: '';
          //   border: solid rgb(255,255,255);
          //   border-width: 0 2px 2px 0;
          //   display: inline-block;
          //   padding: 2px;
          //   width: 8px;
          //   height: 8px;
          //   margin: 0 5px 2px;
          //   transform: rotate(-45deg);
          // }
        }
      }
    }
  }
  // .team-member-content {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  // }
  a {
    width: 100%;
    text-decoration: none;
    color: $nycjw-black;
  }
  .team-member-anchor {
    position: relative;
    top: -50px;
  }
  .member-image-container {
    width: 90%;
    max-width: 225px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin: 0 auto 1em;
    .member-image {
      height: 0;
      width: 100%;
      padding-bottom: 100%;
    }
  }
  .member-content {
    text-align: center;
    width: 100%;
    .member-name {
      margin: 0;
      position: relative;
      //left: -1em;
      font-size: 1.5em;
      line-height: 1.3rem;
      margin-bottom: 10px;
      font-family: $bella!important;
    }
    .member-title {
      font-size: .75em;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    .member-content-text {
      text-align: left;
    }
  }
}
.fp-section {
  .team-member-container {
    .member-image-container {
      transform: translate3d(0px, 0px, 0px);
      .member-image {
        transform: scale(1.04);
      }
    }
    &:hover {
      .member-image {
        transition: transform .3s linear;
        transform: scale(1);
      }
    }
  }
}
.meet-the-team{
  font-size: 1.5em;
  // padding-top: .5rem;
  color: $nycjw-black;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $nycjw-black;
  font-family: $bella;
  float: right;
  letter-spacing: 1px;
  &:visited {
    color: $nycjw-black;
  }
  &:after {
    content: '';
    position: absolute;
    left: calc(100% + 10px);
    top: calc(50% - 3px);
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
  }
}

/*---------------------------*\
  Team Page
\*---------------------------*/

#secondary-container {
  display: flex;
  flex-wrap: wrap;
  .team-member-container {
    width: 50%;
    .team-member-content {
      flex-direction: column;
      align-items: center;
      .member-content {
        padding: 0 15px;
        text-align: center;
        .member-name  {
          font-size: 1.2em;
        }
        .member-title {
          line-height: 1rem!important;
          display: block;
        }
      }
    }
  }
}
#team-container {
  display: block;
  padding-top: 40px;
}
.team-member-container {
  width: 100%;
  .member-image-container {
    max-width: 200px;
    margin: 0 auto 1em;
    .member-image {
    }
  }
  .member-content {
    text-align: left;
    .member-name {
    }
    .member-title {
    }
  }
}


/*---------------------------*\
  Events
\*---------------------------*/

#section-events {
  .section-wrapper {
    padding: 80px 0 80px;
    display: none;
    .section-title {
      color: white;
    }
    hr {
      background-color: white;
      position: relative;
    }
    .section-content {
      p, a{
        color: white;
      }
      a {
        font-family: $bella;
        font-size: 1.2rem;
        letter-spacing: 1px;
      }
    }
  }

  #events-gallery-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .slick-arrow {
      cursor: pointer;
      transition: all .2s linear;
      opacity: .8;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }
    }
    i {
      border: solid rgb(255,255,255);
      border-width: 0 4px 4px 0;
      display: inline-block;
      padding: 5px;
      width: 24px;
      height: 24px;
      margin: 0 5px;
    }
    .events-arrow-right {
      right: 50px;
      i{
        transform: rotate(-45deg);
      }
    }
    .events-arrow-left {
      left: 50px;
      i{
        transform: rotate(135deg);
      }
    }
  }
  .slick-track {
    width: 61vw!important;
    height: 100vh;
    .slick-active {
      opacity: 1!important;
    }
  }
  #events-gallery {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    .event-gallery-image-container {
      position: relative;
      width: 100%;
      padding: 10px;
      display: none;
      &:last-of-type {
        display: block;
      }
      .event-gallery-image {
        width: 90%;
        height: 0;
        padding-bottom: 65%;
        position: relative;
        margin: 0 auto;
        .temp-event-image {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          transition: opacity .3s linear;
          &.active {
            opacity: 1;
          }
        }
      }
      // &:nth-child(2) {
      //   width: 25vw;
      //   height: 25vw;
      //   left: 35%;
      //   top: 20%;
      // }
      // &:nth-child(3) {
      //   width: 18vw;
      //   height: 18vw;
      //   left: 55%;
      //   top: 16%;
      // }
      // &:nth-child(4) {
      //   width: 22vw;
      //   height: 22vw;
      //   left: 22%;
      //   top: 50%;
      // }
      // &:nth-child(1) {
      //   width: 15vw;
      //   height: 15vw;
      //   left: 60%;
      //   top: 50%;
      // }
    }
  }
  #homepage-event-link {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    text-align: center;
    font-family: $bella;
    letter-spacing: 2px;
    text-decoration:none;
    font-size: 2rem;
    white-space: nowrap;
    color: black;
    span {
      &::after {
        content: '';
        transition: all .15s linear;
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 5px;
        transform: rotate(-45deg);
        position: relative;
        margin: 2px 5px 3px 8px;
      }
    }
  }
}
.load-more {
  display: none;
}
#event-filter {
  // background-color: rgb(245,245,245);
  // padding: 15px;
}
#event-filter-sentence {
  font-family: $bella;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  h3 {
    margin: 0;
    line-height: 1rem;
  }
}
.custom-select {
  font-size: 1rem;
  h3 {
    font-family: $raleway;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 11px;
    text-transform: uppercase;
  }
  select:focus {
    outline:none;
  }
}
#events-container {
  padding: 0 0 80px;
}
#clear-filter {
  opacity: 0;
  color: white;
  background-color: black;
  padding: 4px 8px;
  text-decoration: none;
  margin: 8px 0 20px;
  font-size: .9rem;
  font-weight: 500;
  display: inline-block;
  transition: opacity .2s linear;
  &.active {
    opacity: 1;
  }
}
.event-type-container {
  position: relative;
  opacity: 0;
  &:not(:first-of-type) {
    padding-top: 40px;
  }
  transform: translateY(20px);
  &.active {
    opacity: 1;
    transform: translateY(0);
    transition: all .4s linear;
  }
}
.date-divider {
  margin: 3rem 0 1.5rem;
  font-size: 1.2rem;
  background-color: white;
  position: sticky;
  top: -1px;
  z-index: 9;
  width: 100%;
  padding-top:12px;
  &:first-of-type {
    margin-top: 0;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(180,180,180);
  }
}
.event-item {
  margin-bottom: 18px;
  position: relative;
  padding: 0 30px;
  transform:translateY(0px);
  opacity: 1;
  &.new-event {
    opacity: 0;
    transform: translateY(15px);
  }
  .event-anchor {
    position: relative;
    top: -100px;
    display: block;
    visibility: hidden;
  }
  .event-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    h2 {
      margin: 0 0 5px;
      position: relative;
      line-height: 1.8rem;
      span {
        font-family: $raleway;
        letter-spacing: normal;
        margin:0;
        font-size: 1rem;
        text-transform: none;
        padding: 6px 10px;
        margin-left: -10px;
        display: inline;
        @include blackbackground();
        // &::after {
        //   content: '';
        //   display:block;
        //   height:1em;
        // }
      }
    }
    span.event-loc {
      font-weight: bold;
      p {
        margin: 0;
      }
    }
  }
  h6 {
    font-family: $raleway;
    letter-spacing: normal;
    margin:0;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    font-weight: bold;
    // &::after {
    //   content: '';
    //   position: absolute;
    //   bottom: 1px;
    //   left: 0;
    //   width: 150%;
    //   height: 1px;
    //   background-color: rgb(180,180,180);
    // }
  }
  span {
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: 1px;
  }
  .event-desc {
    display: none;
    padding: 12px 0 36px;
  }
  .event-datetime {
    display: flex;
    flex-direction: column;
  }
  .event-date, .event-time, .event-cost, .rsvp-link {
    margin-top: 20px;
    p {
      margin: 0;
    }
    a {
      color: $nycjw-black;
    }
  }
  .rsvp-link a {
    text-transform: uppercase;
  }
  .event-location {
    margin-top: 20px;
    p {
      margin: 0;
    }
  }
  .event-map-link {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: .75em;
    margin-top: 15px;
    display: block;
  }
  .desc-toggle {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 11px;
    height: 11px;
    &::before {
      content: '';
      width: 100%;
      height: 1px;
      background-color: black;
      position: absolute;
      left: 0;
      top: calc(50% - 1px);
    }
    &::after {
      content: '';
      width: 1px;
      height: 100%;
      background-color: black;
      position: absolute;
      left: calc(50% - 0px);
      top: 0px;
      transition: opacity .1s linear;
    }
  }
  &.more-info {
    .desc-toggle::after {
      opacity: 0;
    }
  }
}
.admin-bar {
  .event-item {
    .event-desc {
      display: block;
    }
    .desc-toggle::after {
      opacity: 0;
    }
  }
}
.all-events {
  text-align: right;
  a {
    font-family: $bella;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    position: relative;
    &::after {
      content: '';
      transition: all .15s linear;
      border: solid black;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-45deg);
      position: absolute;
      right: -15px;
      top: 10px;
    }
  }
}



/*---------------------------*\
  Partners
\*---------------------------*/

.partner-list-container {
  padding: 0 0 1.5rem 0;
  h2 {
    margin: 0 0 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2em;
  }
  &:last-of-type {
    padding-bottom: 6rem;
  }
  .partner-list {
    width: 100%;
    margin-bottom: 30px;
  }
}
.partner-list-partners {
  margin: 0;
  padding: 0;
  list-style-type: none;
  column-count: 1;
  li {
    margin-bottom:10px;
    overflow: hidden;
    a {
      color: black;
      text-decoration: none;
      position: relative;
      font-weight: 500;
      &::after {
        content: '';
        transition: all .1s linear;
        position: absolute;
        top: calc(100% + 3px);
        left: 0;
        width: 100%;
        height: 1px;
        background-color: black;
        opacity: 0;
      }
      &:hover::after {
        top: 100%;
        opacity: 1;
      }
    }
  }
}

/*---------------------------*\
  Contact
\*---------------------------*/

#section-contact {
  position: relative;
  input {
    height: 40px;
    border-radius: 0;
    border: 2px solid $nycjw-black;
    transition: transform .2s linear;
    &:focus {
      transform: scale(1.05);
    }
  }
  textarea {
    border-radius: 0;
    border: 2px solid $nycjw-black;
    transition: transform .2s linear;
    &:focus {
      transform: scale(1.01);
    }
  }
}

/*---------------------------*\
  Press
\*---------------------------*/

.press-item {
  .press-item-content {

  }
  .press-additional-content {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &:not(:last-of-type) {
    margin-bottom: 36px;
  }
  .press-logo {
    width: 90px;
    height: auto;
    flex-shrink: 0;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .press-content {
    //padding-left: 24px;
    color: $nycjw-black;
    h4 {
      margin: 0;
      text-transform: uppercase;
      font-family: $raleway;
      font-size: .65rem;
    }
    a {
      text-decoration: none;
      font-weight: 500;
      color: $nycjw-black;
    }
  }
}

/*---------------------------*\
  Sponsors
\*---------------------------*/

.sponsor_type_list {
  margin-bottom: 60px;
  h2 {
    display: inline-block;
    border-bottom: 1px solid $nycjw-black;
    font-family: $bella!important;
    padding: 0 60px 0 0;
  }
  .sponsor_type_sponsors {
    display: flex;
    flex-wrap: wrap;
    .sponsor {
      width: 50%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin: 0;
      }
      &.no-logo {
        justify-content: flex-start;
        padding: 0 20px 10px 0;
        align-items: flex-start;
      }
      a {
        transform: rotate(.001deg);
        transition: all .2s linear;
        &:hover {
          transform: scale(1.05);
        }
      }
      img {
        width: 100%;
        height: auto;
        &.portrait {
          height: 100%;
          max-height: 150px;
          width: auto;
          margin: 0 auto;
          position: relative;
        }
      }
    }
  }
}

.page-id-562 {
  .sponsor_type_list {
    h2 {
      font-family: $raleway!important;
    }
  }
}

/*---------------------------*\
  Pages
\*---------------------------*/

#page-header {
  font-family: $raleway;
  margin: 50px 0 30px;
  padding: 10px 0 10px;
  p {
    font-size: 1.1rem;
  }
  // h1, h2, h3, h4, h5, h6 {
  //   font-family: $raleway;
  //   font-weight: 300;
  // }
}
.emerging-title {
  border-bottom: 1px solid black;
  display: inline-block;
  padding-right: 60px;
  margin-bottom: 10px;
}
.single-emerging-creatives {
  .section .section-wrapper {
    #page-header {
      display: flex;
      flex-direction: column;
      .ec-featured-image {
        flex-shrink: 0;
        margin-bottom: 30px;
        img {
          width: 100%;
          max-width: 450px;
          height: auto;
        }
      }
    }
    .ec-content {
      .ec-title {
        // display: flex;
        // align-items: flex-end;
        span {
          margin: 0 15px;
        }
        p {
          margin: 0;
        }
        h1 {
          margin: 0;
          font-size: 30px;
          left: auto;
        }
      }
      .ec-description p{
          font-size: 1em!important;
      }
      #ec-links {
        display: flex;
        margin: 15px 0;
        a {
          cursor: pointer;
          display: flex;
          margin-right: 10px;
          align-items: center;
          color: black;
          text-decoration: none;
          span {
            margin-left: 5px;
            font-weight: 500;
          }
          img {
            height: 18px;
            width: auto;
          }
        }
      }
      .show-details {
        color: black;
        text-transform: uppercase;
        font-weight: 600;
        font-size: .8rem;
      }
    }
  }
}
.password-protected {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  #page-header {
    display: none;
  }
}
#password-form-fields {
  display: flex;
  justify-content: center;
  input[type="password"] {
    border: 2px solid $nycjw-black;
    border-radius: 0;
    padding: 8px 10px;
    min-width: 250px;
    font-size:1.1rem;
    font-weight: 300;
  }
  input[type="submit"] {
    background-color: black;
    border-radius: 0;
    margin-left: 8px;
    // font-family: $bella;
    color:  white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    //font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 8px 18px;
  }
}
#page-content {
  p {
    font-size: 1.1rem;
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: $raleway;
  }
  ul {
    margin: 0 0 1.5em 0;
    li {
      ul {
        margin: 0;
        list-style-type: none;
        li {
          position: relative;
          &::before {
            content:'';
            position: absolute;
            left: -20px;
            top: 8px;
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            width: 4px;
            height: 4px;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  a {
    color: black;
    text-decoration: none;
    font-weight: 500;
  }
  .show-more-links {
    display: flex;
    a {
      width: 150px;
      height: 150px;
      margin-right: 30px;
      padding: 30px;
      border: 1px solid black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      font-family: $bella;
      font-size: 1.5em;
      line-height: 1.2em;
      align-items: center;
      text-align: center;
    }
  }
}

/*---------------------------*\
  Footer
\*---------------------------*/

footer.site-footer {
  display: none;
  position: fixed;
  width: 100%;
  padding: .75em 1em;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all .2s linear;
  transform: translateY(100%);
  pointer-events: none;
  #footer-wrapper {
    display: flex;
    justify-content: space-between;
    #contact-info {
      display: flex;
      font-weight: 500;
      pointer-events: auto;
      flex-direction: column;
      .row-1 {
        margin-bottom: 8px;

      }
      .row-2 {
        display: flex;
      }
      .social-icons {
        margin-left: 1.5em;
        display: flex;
        align-items: center;
        .social-icon a{
          display: flex;
          align-items: center;
        }
      }
    }
  }
  h2 {
    margin: 0;
    line-height: 1em;
    opacity: 0;
    transition: opacity .3s linear;
  }
  .hashtag-link {
    opacity: 0;
    &.active h2{
      opacity: 1;
    }
  }
  .site-branding {
    position: absolute;
    right: 1em;
    bottom: .75em;
    width: 85px;
    height: auto;
    overflow: hidden;
    pointer-events: auto;
    .site-branding-wrapper {
      transform: translateY(100%);
    }
    img, svg {
      width: 100%;
      height: auto;
    }
    &.active {
      .site-branding-wrapper{
        transform: translateY(0);

        -webkit-transition: all 200ms cubic-bezier(0.820, 0.110, 0.425, 1); /* older webkit */
-webkit-transition: all 200ms cubic-bezier(0.820, 0.110, 0.425, 1.335);
   -moz-transition: all 200ms cubic-bezier(0.820, 0.110, 0.425, 1.335);
     -o-transition: all 200ms cubic-bezier(0.820, 0.110, 0.425, 1.335);
        transition: all 200ms cubic-bezier(0.820, 0.110, 0.425, 1.335); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.820, 0.110, 0.425, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.820, 0.110, 0.425, 1.335);
   -moz-transition-timing-function: cubic-bezier(0.820, 0.110, 0.425, 1.335);
     -o-transition-timing-function: cubic-bezier(0.820, 0.110, 0.425, 1.335);
        transition-timing-function: cubic-bezier(0.820, 0.110, 0.425, 1.335); /* custom */
        transition-delay: .2s;
      }
    }
  }
}

a.join-list, a.volunteer-link {
  text-transform: uppercase;
  color: white!important;
  background-color: black;
  font-size: .75em;
  padding: 4px 5px 3px;
  font-weight: 600;
}

#newsletter-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s linear;
  #newsletter-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,1);
    display: flex;
    justify-content: center;
    align-items: center;
    #newsletter-content {
      width: 90%;
      height: auto;
      //min-height: 300px;
      max-width: 900px;
      min-width: 300px;
      background-color: white;
      display: flex;
      justify-content: flex-end;
      position: relative;
      transition: all .3s linear;
      opacity: 0;
      transform: translateY(-30px);
      transition-delay: .2s;
      #close-newsletter {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        &::after, &::before {
          content: '';
          width: 100%;
          height: 2px;
          background-color: black;
          position: absolute;
          top: 50%;
          left: 0;
        }
        &::before {
          transform: translateY(-50%) rotate(-45deg);
        }
        &::after {
          transform: translateY(-50%) rotate(45deg);
        }
      }
      #newsletter-image {
        width: 40%;
        // height: 100%;
        // position: absolute;
        // top: 0;
        // left: 0;
        display: none;
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
      #newsletter-signup {
        padding: 2em 2em;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        //background-color: $nycjw-yellow;
        h1 span{
          // color: white;
          // background-color: black;
          // padding: 3px 10px 2px;
          position: relative;
        }
        h1 {
          font-size: 2.2em;
          position: relative;
          margin: 0;
          &::after {
            content: '';
            position: absolute;
            bottom: 1px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgb(180,180,180);
          }
        }
        form {
          display: flex;
          flex-direction: column;
          margin-top: 0;
          width: 100%;
          .jw-submit-wrapper {
            position: relative;
            .jw-submit-loader {
              pointer-events: none;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              opacity: 0;
              .lds-default {
                transform: scale(.5);
                div {
                  background: white;
                }
              }
            }
          }
          input[type="email"] {
            padding: 7px 10px;
            border: 1px solid black;
            border-radius: 0;
            width: 100%;
            &:focus {
              outline: none;
            }
            &.error {
              outline: 2px solid red;
            }
          }
          input[type="submit"] {
            border: none;
            outline: none;
            color: white;
            background-color: black;
            border-radius: 0;
            -webkit-appearance: none;
            font-weight: 300;
            padding: 15px 20px;
            width: 100%;
            font-size: 1em;
            height: 100%;
            margin-top: 8px;
            cursor: pointer;
          }
        }
      }
    }
  }
  &.loading {
    input[type="submit"] {
      color: black!important;
    }
    .jw-submit-loader {
      opacity: 1!important;
    }
  }
}
body.signup-active {
  #newsletter-container {
    opacity: 1;
    pointer-events: auto;
    #newsletter-wrapper {
      #newsletter-content {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

body:not(.home) {
  .site-branding {
    .site-branding-wrapper {
      transform: translateY(0);
    }
  }
}

#fixed-background {
  position: fixed;
  top: $headerHeight;
  left: 0;
  width: 100vw;
  height: calc(100vh - #{$headerHeight});
  z-index: 9;
  overflow: hidden;
  pointer-events: none;
  // .yellow-bg {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  // }
  .circle-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100vh - #{$headerHeight});
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1.3);
    box-shadow: 0px -200px 0px 300px $nycjw-yellow;
  }
}

.intro-overlay {
  z-index: 10;
  position: fixed;
  top: calc(50% + (#{$headerHeight} / 2));
  left: 50%;
  width: calc(100vh - #{$headerHeight});
  height: calc(100vh - #{$headerHeight});
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity .3s linear;
  .intro-logo-container {
    width: 90vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    .intro-logo {
      opacity: 1;
      width: 90%;
      top: calc(#{$headerHeight} / 2);
      margin: 0 auto;
      transition: transform 1s ease-in-out;
      -webkit-transition: all 1000ms cubic-bezier(0.820, 0.110, 0.380, 0.855);
      -moz-transition: all 1000ms cubic-bezier(0.820, 0.110, 0.380, 0.855);
      -o-transition: all 1000ms cubic-bezier(0.820, 0.110, 0.380, 0.855);
      transition: all 1000ms cubic-bezier(0.820, 0.110, 0.380, 0.855); /* custom */

      -webkit-transition-timing-function: cubic-bezier(0.820, 0.110, 0.380, 0.855);
      -moz-transition-timing-function: cubic-bezier(0.820, 0.110, 0.380, 0.855);
      -o-transition-timing-function: cubic-bezier(0.820, 0.110, 0.380, 0.855);
      transition-timing-function: cubic-bezier(0.820, 0.110, 0.380, 0.855); /* custom */
      transform: scale(1.2);
      svg {
        height: auto;
        width: 100%;
        display: block;
      }
    }
  }
}

#page-content {
  .single-product {
    .summary.entry-summary {
      margin-top: 0;
    }
    .product_title.entry-title {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.3em;
      left: auto;
      margin-top: 0;
    }
  }
  .woocommerce #respond input#submit.alt,
  .woocommerce a.button.alt,
  .woocommerce button.button.alt,
  .woocommerce input.button.alt,
  .woocommerce .cart .button,
  .woocommerce a.button {
    background-color: black;
    border-radius: 0;
    text-transform: uppercase;
    color: white;
    font-size: .9em;
    font-weight: 600;
  }
  .woocommerce a.remove {
    color: black!important;
    &:hover {
      background-color: $nycjw-yellow;
    }
  }
}
.single-product .product_meta {
   display: none;
}
.woocommerce-result-count {
  display: none;
}
.cart-contents {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-image:url('../images/shopping-bag.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  span {
    position: relative;
    top: 2px;
  }
}

/*---------------------------*\
  Loaded
\*---------------------------*/

body.loaded {
  #fixed-background {
    .circle-overlay {
      transition: transform 0s linear;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  .intro-overlay {
    transition-delay: 3.5s;
    opacity: 0;
    pointer-events: none;
    .intro-logo-container {
      .intro-logo {
        opacity: 1;
        transition-delay: .5s;
        transform: scale(1);
      }
    }
    .home-subtitle {
      transition-delay: 1.5s;
      opacity: 1;
    }
  }
  .site-footer {
    transition-delay: 4.5s;
    opacity: 1;
    transform: translateY(0);
  }
}

body.menu-active {
  .site-header {
    #site-navigation {
      ul {
        li {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}

/*---------------------------*\
  Admin bar styles
\*---------------------------*/

.admin-bar {
  .site-header {
    padding-top: 3em;
  }
}



@media only screen and (min-width: 31em)  { // 496px
  body.loaded {
    #fixed-background {
      .circle-overlay {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }
  .site-header #site-navigation ul li {
    padding: .2em 0;
    a {
      font-size: .95em;
    }
  }
  .section .section-wrapper {
    width: 80%;
  }

  #section-events {
    #events-gallery-container {
      //top: $headerHeight;
    }
    #events-gallery {
      width: 90%;
      .event-gallery-image-container {
        padding: 5px;
        width: 50%;
        display: block;
        .event-gallery-image {
          width: 100%;
          padding-bottom: 56.25%;
        }
      }
    }
    #homepage-event-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.6);
      display: flex;
      justify-content: center;
      color: white;
      align-items: center;
      font-size: 1.2rem;
      span {
        &::after {
          content: '';
          border: solid white;
          border-width: 0 2px 2px 0;
          padding: 3px;
        }
      }
    }
  }
  .event-item {
    .event-title {
      h2 {
        line-height: 2.3rem;
        span {
          font-size: 1.3rem;
        }
      }
    }
  }
  #event-filter-sentence {
    flex-direction: row;
    margin-top: 45px;
    .custom-select:not(:last-of-type) {
      margin-right: 20px;
    }
    h3 {
      margin-bottom: 2px;
    }
  }
  .date-divider {
    font-size: 1.5rem;
  }
  #newsletter-container #newsletter-wrapper #newsletter-content #newsletter-signup form {
    flex-direction: row;
    input[type="submit"] {
      margin: 0 0 0 8px;
      width: auto;
    }
  }

  /*---------------------------*\
    Press
  \*---------------------------*/

  #press-preview {
    //width: 90%;
    margin: 0 auto;
  }
  .press-item {
    .press-item-content {
      display: flex;
      align-items: flex-start;
    }
    .press-additional-content {
      padding-left: 122px;
    }
    &:not(:last-of-type) {
      margin-bottom: 32px;
    }
    .press-logo {
      width: auto;
      height: auto;
      max-width: 90px;
      max-height: 60px;
      width: 90px;
      height: 60px;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 20px;
      img {
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .press-content {
      padding-left: 32px;
      a {
        font-size: 1.2rem;
        &:hover {
          span {
            @include blackbackground();
            padding: 3px 5px;
            margin-left: -5px;
          }
        }
      }
    }
  }

  /*---------------------------*\
    Sponsors > 496px
  \*---------------------------*/

  .sponsor_type_list {
    .sponsor_type_sponsors {
      .sponsor {
        padding: 30px;
      }
    }
  }

}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  #fixed-background {
    .circle-overlay {
      transform: translate(-50%, -50%) scale(2);
    }
  }
}

@media only screen and (min-width: 43em) and (orientation:landscape) {
  body.loaded {
    #fixed-background {
      .circle-overlay {
        transform: translate(-50%, -50%) scale(1.4);
      }
    }
  }
}

@media only screen and (min-width: 43em) and (orientation:portrait) {
  body.loaded {
    #fixed-background {
      .circle-overlay {
        transform: translate(-50%, -50%) scale(1.4);
      }
    }
  }
}

@media only screen and (min-width: 43em) { // 688px
  .section {
    .section-wrapper {
      padding: 3em 0 3em;
    }
  }

  #section-events {
    #events-gallery-container {
      top: $headerHeight;
    }
    #homepage-event-link {
      font-size: 2rem;
      span {
        transition: transform .2s linear;
        &:hover {
          transform: scale(1.1);
        }
        &::after {
          padding: 5px;
        }
      }
    }
  }

  #page-header {
    margin-top: 30px;
    padding: 10px 0 10px;
    margin-bottom: 30px;
    p {
      font-size: 1.2rem;
    }
  }

  .date-divider {
    &::after {
      content: '';
      width: 100%;
    }
  }
  .event-type-container:not(:first-of-type) {
    padding-top: 60px;
  }

  /*---------------------------*\
    Team > 43em
  \*---------------------------*/

  #team-container {
    display: flex;
    justify-content: flex-start;
  }

  /*---------------------------*\
    Team Page > 43em
  \*---------------------------*/

  .team-member-container {
    margin:2rem 0;
    .team-member-content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
    .member-image-container {
    }
    .member-content {
      padding-left: 32px;
      text-align: left;
      width: auto;
    }
  }

  .emerging-creatives-container {
    margin-bottom: 2em;
    .team-member-container {
      margin: 2em 0;
    }
  }
  .single-emerging-creatives {
    .section .section-wrapper {
      #page-header {
        flex-direction: row;
      }
      .ec-content {
        padding-left: 40px;
      }
      .ec-featured-image {
        flex-shrink: 0;
        margin-bottom: 30px;
        img {
          max-width: 250px;
        }
      }
    }
  }

  /*---------------------------*\
    Partners Masonry > 43em
  \*---------------------------*/

  #page-content {
    .partner-list-gutter {
      width: 6%;
    }
    .partner-list {
      width: 47%;
      column-count: 1;
    }
    .partner-list-partners {
      column-count: 1;
    }
  }

}

@media only screen and (min-width: 48em) {

  .site-header {
    width: auto;
    padding: 20px;
    #site-navigation {
      ul {
        justify-content: flex-end;
        align-items: flex-end;
        li {
          a {
            //font-size: .8rem;
            padding: 0 5px;
            font-weight: 500;
          }
        }
      }
    }
    #header-content {
      //display: none;
      background-color: transparent;
      width: auto;
      height: auto;
      padding: 0;
      justify-content: flex-end;
      .menu-toggle-line {
        background-color: black;
        &::before, &::after {
          background-color: black;
        }
      }
      .mobile-logo {
        display: none;
      }
    }
    .menu-overlay {
      top: 20px;
      background-color: transparent;
      height: auto;
      opacity: 1;
      width: auto;
      position: relative;
      .menu-container {
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        height: auto;
      }
    }
    #header-contact-info {
      display: none!important;
    }
  }
  /*---------------------------*\
    Home > 48em
  \*---------------------------*/

  .home-logo {
    height: 60vh;
    width: auto;
    svg {
      height: 100%;
      width: auto;
    }
  }

  .home-subtitle {
    font-size: 1.8em;
  }

  /*---------------------------*\
    Fullpage > 48em
  \*---------------------------*/
  #fullpage {
    .section {
      padding-top: 0;
    }
  }
  .section {
    padding-top: 0;
    .section-wrapper {
      width: 70%;
      h1 {
        font-size: 4em;
        left: -4rem;
      }
    }
    &#section-events {

    }
  }

  #fullpage {
    top: auto;
  }


  /*---------------------------*\
    Advisory Committee > 48em
  \*---------------------------*/

  .section-title.large-title {
    font-size: 3em!important;
  }
  .section-title.extra-large-title {
    font-size: 2.5em!important;
  }

  /*---------------------------*\
    Team > 48em
  \*---------------------------*/

  #secondary-container {
    .team-member-container {
      width: calc(100% / 3);
    }
  }
  .team-member-container {
    align-items: flex-start;
    .member-content {
    }
  }

  #team-index {
    column-count: 3;
    margin-bottom: 0;
  }

  /*---------------------------*\
    Team Page > 48em
  \*---------------------------*/

  .team-member-container {
    align-items: flex-start;
    .member-image-container {
    }
    .member-content {
    }
  }

  .event-item {
    .event-datetime {
      flex-direction: row;
    }
    .event-date {
      margin-right: 24px;
      max-width: 50%;
    }
    .event-time {
      margin-right: 24px;
    }
  }

  /*---------------------------*\
    Events > 48em
  \*---------------------------*/

  #section-events {
    #events-gallery-container {
      top: 0;
    }
    #events-gallery {
      width: 70%;
      .event-gallery-image-container {
        padding: 8px;
      }
    }
  }

  /*---------------------------*\
    Sponsors > 767px
  \*---------------------------*/

  .sponsor_type_list {
    .sponsor_type_sponsors {
      .sponsor {
        padding: 15px;
        width: calc(100% / 3);
      }
    }
  }

  /*---------------------------*\
    Background > 48em
  \*---------------------------*/

  #fixed-background {
    top: 0;
    height: 100vh;
    .circle-overlay {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      transform: translate(-50%, -50%) scale(1)!important;
    }
  }
  .intro-overlay {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    top: 50%;
    .intro-logo-container {
      width: auto;
      .intro-logo {
        top: auto;
        width: 100%;
        svg {
          height: 60vh;
          width: auto;
          display: block;
        }
      }
    }
  }

  #newsletter-container {
    #newsletter-wrapper {
      #newsletter-content {
        #newsletter-signup {
          width: 60%;
          padding: 2em 3em 2em;
          form {
            input[type="submit"] {
              margin-left: 8px;
            }
          }
        }
        #newsletter-image {
          display: block;
        }
      }
    }
  }

  footer.site-footer {
    display: block;
  }
}

@media only screen and (min-width: 60em) {
  .partner-list-partners {
    column-count: 1;
    column-gap: 0;
  }
  .section {
    .section-wrapper {
      h1 {
        font-size: 6em;
      }
    }
  }
  .section-title.large-title {
    font-size: 4.5em!important;
  }
  .section-title.extra-large-title {
    font-size: 4em!important;
  }
  #events-container {
    padding: 0 0 80px;
  }

  /*---------------------------*\
    Partners Masonry > 960px
  \*---------------------------*/

  #page-content {
    .partner-list-gutter {
      width: 5%;
    }
    .partner-list {
      width: 30%;
    }
    .partner-list-partners {
      column-count: 1;
      margin-bottom: 0;
      li {
        margin-bottom: 5px;
      }
    }
  }
}

@media only screen and (min-width: 64em) {
  .section-title.large-title {
    font-size: 5em!important;
  }
  .section-title.extra-large-title {
    font-size: 4.5em!important;
  }
}

@media only screen and (min-width: 48em) and (orientation:portrait){

  #fixed-background {
    .circle-overlay {
      transform: translate(-50%, -50%) scale(1.5)!important;
    }
  }

  .intro-overlay {
    width: 100%;
    .intro-logo-container {
      width: 100%;
      .intro-logo {
        width: 70%;
        height: auto;
        svg {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .home-logo {
    height: auto;
    width: 100%;
    svg {
      width: 100%;
      height: auto;
    }
  }
  .section .section-wrapper {
    width: 75%;
  }
  .section .section-wrapper {
    padding: 5em 0;
  }
  .section .section-wrapper h1 {
    font-size: 4em;
    left: -2rem;
  }
  .section-title.large-title {
    font-size: 3.5em!important;
  }
  .section-title.extra-large-title {
    font-size: 3em!important;
  }
  #section-events #events-gallery {
    width: 90%;
  }
}
