body:not(.home) .section .section-wrapper.map-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1440px;
}
.marker-info {
  display: none;
  width: 250px;
  height: auto;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 30px;
  left: -30px;
  z-index: 999;
  p {
    margin: 0;
    font-size: 1.2em;
    line-height: 1.3em;
    font-family: $raleway;
    &.map-item-title {
      margin-bottom: 10px;
    }
    &:not(.map-item-title) {
      font-size: 1em;
    }
    &:not(.map-item-title):first-of-type {
      margin-bottom: 5px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
#map-info {
  width: 100%;
  height: auto;
  overflow: auto;
  flex-shrink: 0;
  max-height: 30vh;
  transition: all .3s ease-in-out;
  -webkit-overflow-scrolling: touch;
  border-top: 2px solid $nycjw-black;
  #map-info-content {
    padding: 15px 15px;
    display: none;
  }
  &.active {
    max-height: 40vh
  }
  .event-item {
    padding: 15px;
    .desc-toggle {
      display: none;
    }
    .event-desc {
      display: block;
    }
  }

}
#nycjw-map {
  width: 100%;
  height: 100%;
  position: relative;
}

/*---------------------------*\
  Map
\*---------------------------*/

.marker {
  width: 30px;
  height: 30px;
  background-color: $nycjw-yellow;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  .event-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: $raleway;
    letter-spacing: 2px;
  }
  &:hover {
    z-index: 99;
    .marker-info {
      display: block;
    }
  }
  &.active {
    opacity: 1;
  }
}

@media only screen and (min-width: 48em) {
  body:not(.home) .section .section-wrapper.map-wrapper {
    flex-direction: row;
  }
  #map-info {
    width: auto;
    max-width: 40vw;
    height: 100vh;
    max-height: 100vh;
    border: none;
    border-left: 2px solid $nycjw-black;
    #map-info-content {
      padding: 40px 10px;
    }
    &.active {
      max-height: 100vh
    }
  }
  .event-item {
    .event-datetime {
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: 60em) {
  #map-info {
    #map-info-content {
      padding: 40px 20px;
    }
  }
}
